# --- Android / IntelliJ / Studio ---
.idea/
.gradle/
build/
app/build/
*.iml
local.properties
.navigation/
captures/
.externalNativeBuild/
.cxx/
!debug.keystore

# --- Giant Memory Dumps (The file that blocked your push) ---
*.hprof

# --- Kotlin / Java ---
*.class
bin/
gen/

# --- Logs ---
*.log

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Gradle Caches ---
.gradle/
.gradle-cache/